/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
	padding: 0;
	margin: 15px 0 0;
}

.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    right: 70px; /* dropdown left or right */
    z-index: 1000;
    display: none;
    width: 100px;
    list-style: none;
	padding: 0;
	margin: 20px 0 0;
}
.dropit .dropit-open .dropit-submenu { 
    display: block; 
    background: #FDFDFD;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
    text-align: center;
}


 .dropit .dropit-open .dropit-submenu li {
  display: block;
  padding: 15px;
 }
 .dropit .dropit-open .dropit-submenu li:last-child {
  margin-bottom: 0px;
 }
 .dropit .dropit-open .dropit-submenu li a {
  color:#7B858A;
  text-decoration: none;
  font-family: "Open-Sans", Helvetica, Arial, sans-serif;
  font-weight:100;
  font-size: 14px;
 }



 .left-nav-setting .dropit-submenu {
    top: auto;
    bottom: 50px;
    right: auto;
 }


