html, body {
  overflow-x:hidden;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #333333;
}


h1 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 36px;
}

h2 {
  font-size:24px;
  margin-bottom: 5px;
}

.fix {
  padding:0;
}

p{
  font-size: 16px;
  line-height: 19px;
  font-weight:100px;
}

.front-image {
  width: 600px;
}

/*grid*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
 
}

.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

 /*header*/
 header {
   color:#FFFFFF;
   background: #43C8ED;
 }

 header nav {
   padding:1em 0;
 }
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 25px;
   border:1px solid #FFFFFF;
   border-radius: 50px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#34495E;
 }

 header .hero {
   text-align: center;
   display:block;
   position: relative;
   padding-bottom: 30px;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: 100;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;
 }

  /* BENEFITS */
 .benefits {
   text-align: center;
   display:block;
   position:relative;
 }

 .benefits ul {
   margin: 0 auto;
   padding:4em 0;
 }
 .benefits ul li {
   list-style-type: none;
   display: inline-block;
 }

 .benefits h2 {
   color:#4A4A4A;
   font-weight: 200;
   font-size: 32px;
 }
 
 .benefits p {
  margin: 18px auto;
  width: 70%;
  font-weight: 100;
  color: #9B9B9B;
  line-height: 22px;
 }

 .benefits img {
  height: 80px;
 }

   /* PRICING */
 .pricing {
   background: #f0f0f0;
   background-size:cover;
   text-align: center;
   padding:4em 0;
 }
 .pricing h2 {
   color:#;
   font-weight: 200;
   font-size: 32px;
 }

 .pricing p {
  color: #9B9B9B;
  font-weight: 200;
 }


 .pricing ul {
   margin:0 auto;
   padding:2em 0;
 }
 .pricing ul li {
   list-style-type: none;
 }

 .box {
   padding:0 15px 15px;
   background: #FFFFFF;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 400px;
   position: relative;
   margin-top: 25px;
 }

 .box.middle {
   min-height: 465px;
   width: 85%;
   margin-top:0px;
 }

 .box h3 {
   font-family: "Open-Sans", Helvetica, Arial, sans-serif;
   font-weight: 300;
   text-transform: uppercase;
   text-align: center;
   margin:0 -15px 40px;
   padding-top: 30px;
   color: #9B9B9B;
 }
 
  .box h4 {
   font-family: "Open-Sans", Helvetica, Arial, sans-serif;
   font-size:32px;
   font-weight: 300;
   margin:40px 0 10px;
   color:#43C8ED;
 }

 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
   color: #9B9B9B;
 }
 
  .box .btn {
   position:absolute;
   bottom:50px;
   left:40px;
   right:40px;
 }
 .small {
   font-size: 12px;
   color: #FEFEFE;
   line-height: 15px;
   font-style:italic;
 }

   /* BUTTONS */
 .btn {
   border-radius: 50px;
   color:#FFFFFF;
   font-weight: 100;
   text-decoration: none;
   padding:10px 20px;
   background: #FF8360;
 }
 
  /* TESTIMONIALS */
 .testimonials {
   padding:4em 0;
   text-align: center;
 }
 .testimonials h2 {
   color:#4A4A4A;
   font-weight: 200;
   font-size: 32px;
 }
 .testimonials ul li {
   list-style-type: none;
 }
 .testimonials blockquote {
   font-weight: 200;
   color:#9B9B9B;
   text-align: left;
   position: relative;
   padding:30px;
   width:auto;
   margin:0;
 }

  .testimonials img {
   height: 65px;
   width: 65px;
   border-radius:50%;
   float: left;
   display: inline-block;
   margin:20px 10px 0 0;
 }
 .testimonials p.name {
   float: left;
   display: inline-block;
   text-align: left;
   font-size:13px;
   margin-top: 30px;
 }

 .quotestyle {
  height: 35px;
 }
 
  /* CALLTOACTION */ 
 .calltoaction {
    text-align: center;
    margin-bottom: 100px;
 }
 
 .title {
    font-weight: 200;
    font-size: 32px;
    color:#4A4A4A;
 }
 
 .color {
    color:#9B9B9B;
 }
 
 .call {
    margin-top: 20px;
    display:inline-block;
 }

  /* FOOTER */
 footer {
   background-color: #43C8ED;
   color: #FFFFFF;
   height: 80px;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }
 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
   
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
 }
 
 footer .logo{
  height: 30px;
   padding: 30px 0;
   margin: 0 auto;
   display: block;
 }

 /*Dashboard*/


.dashboard {
  background:#FDFDFD;
}


.left-nav {
   height: 100%;
   width:10%;
   color:#FFFFFF;
   background: #43C8ED;
   float:left;
   position: fixed;
   position:absolute;
   display:block;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-280px,0);
     -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
     -o-transform: translate(-280px,0); /** Opera **/
     -moz-transform: translate(-280px,0); /** Firefox **/
 }

.left-nav.open {
   display:block;
   width: 55px;
   background: #43C8ED;
   -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
     z-index: 100;
 }

 .hamburger {
   position:absolute;
   z-index: 1000;
   background:#43C8ED;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 4px;
   left: 5px;
   top: 15px;
 }

  @media (min-width:992px) {
   .left-nav {
     height: 100vh;
     width:10%;
     color:#FFFFFF;
     background: #43C8ED;
     position: fixed;
     display:block;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }

   .left-nav.open {
     width:10%;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }

   .hamburger {
     display:none;
   }
 }

 .left-nav {
     height: 100vh;
     width: 10%;
     color: #FFFFFF;
     background-color: #43C8ED;
     float: left;
     display: block;
     position: fixed;
 }


.site-logo {
    padding: 20px 18px;
    width: 70%; 
}

.left-nav ul {
  padding-left: 10px;
}

.left-nav ul li {
  list-style-type: none;
  padding: 10px;
}

.items-li {
  line-height: 40px;
  font-size: 14px;
}

.left-nav .items ul li img {
  height: 25px;
  vertical-align: middle;
}

#left-nav-notes {
  padding-right: 4px;

}

.left-nav .items ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 100;
}


.left-nav .items ul li a:active {
  color: #7B858A;
}


.left-nav-setting img {
  height: 25px;
  display: block;
  margin: auto;
  padding-top: 180px;
}

/*Content*/

.content {
  margin: 20px auto auto 200px;
  position: relative;
}

.nav-btn {
   display: inline-block;
   border-radius: 50%;
   color:#FFFFFF;
   font-weight: 100;
   text-decoration: none;
   background: #FF8360;
   height: 50px;
   width: 50px;
   text-align: center;
   line-height: 50px;
   float: right;
   margin-right: 10%;
 }


.content-header h2 {
  display: inline;
  color: #7B858A;
  font-weight: 100;
}


.content-header form {
  display: inline;
  float: right;
  margin-right: 10%;

}

input::placeholder {
  font-family: "Open-Sans";
}
/*How do I change the font to Open Sans? It doesn't seem like it's working*/

.content-header-bottom ul li:first-child {
  list-style: none;
  height: 18px;
}
.content-header-bottom:after {
  content: "";
  display: table;
  clear: both;
}


.content-tab {
  text-decoration: none;
  display: inline-block;
  color: #7B858A;
  font-weight:100;
  font-size: 14px;
  float: right;
  margin-right: 10%;

}


.content-main-file ul li {
  list-style: none;
  padding: 8px 0;
  vertical-align: middle;
}

.content-main-file li a {
  text-decoration: none;
  color: #7B858A;
  font-weight: 100;
  padding-left: 20px;
}

.content-main-file-date {
  display: inline;
  font-size: 14px;
  color: #7B858A;
  font-weight: 100;
  float:right;
  margin: 0 26.5% 0 0;
  padding-top: 5px;
}


.content-main-file li img {
  height: 30px;
  vertical-align: middle;
}

.content-top-line {
  width: 90%;
  height: 1px;
  background-color: #9B9B9B;
  margin-top: 5px;
}

.content-middle-line {
  width: 90%;
  height: 1px;
  background-color: #D6D4D7;
}

 /*Image.html*/

.top-nav {
  height: 70px;
  background-color: #43C8ED;
  overflow: hidden;

 }

.fa {
  color: #FFFFFF;
  padding-left: 25px;
}

.top-nav-images {
  margin-right: 40px;
  display: inline-block;
  float:right;
  padding-top: 23px;
}
.top-nav-images img {
  height: 20px;
  margin: 0 5px;
}

.top-text {
  color: #FFFFFF;
  font-weight: 100;
  display: inline-block;
  font-size: 14px;
  margin: 0px;
  padding-top: 23px;
  padding-left: 30px;
}

.images-all-photos {
  height: 200px;
  display: block;
  margin: auto;
  padding: 20px;

}
 
 
 /*MEDIA QUERY*/

 @media (max-width: 450px) {
  .front-image {
    width: 200px;
  }
}


@media (max-width: 800px) {
  .content {
    margin: 20px auto auto 100px;
  }
}

@media (max-width: 600px) {
  .front-image {
    width: 400px;
  }

  .content-main-file-date {
    display: none;
  }

  .content-tab {
    display: none;
  }
  .nav-btn {

  }
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }

}

@media (min-width: 992px) {
   .container {
     width: 970px;
   }

   .one-half {
     width: 46%;
   }

   .one-third {
     width: 29.33%;
   }
   
    footer{
     background-color: #43C8ED;
   }
   footer p, footer nav ul{
     padding: 2em 0;
 
   }
   footer .right-footer-block {
     background-color: #43C8ED;
   }
   footer .logo{
     padding: 2em 0 2em 1.5em;
   }
 }

 @media (max-width: 1100px) {
  .items-text {
    display: none;
  }

  .items-img {
    text-align: center;
  }

  .left-nav ul {
    padding: 0px;
  }

  .left-nav ul li {
    text-align: center;
  }
 }


 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
}

@media (min-width: 5000px) {
  .container {
    width: 4000px;
  }
  .header .hero h1 {
    font-size: 200px;
  }
}
























